<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ChapterDao">
    <select id="queryChapterByParentid" parameterType="String" resultType="Chapter">
        select id,name,download_url,size,length,album_id from cmfz_chapter where album_id=#{album_id}
    </select>
    <insert id="insertChapter" parameterType="Chapter">
        insert into cmfz_chapter values (#{id},#{name},#{download_url},#{size},#{length},#{album_id})
    </insert>
    <delete id="deleteChapter" parameterType="String">
        delete from cmfz_chapter
        where id=#{id}
    </delete>
    <select id="queryChapterById" parameterType="String" resultType="Chapter">
        select id,name,download_url,size,length,album_id from cmfz_chapter where id=#{id}
    </select>
</mapper>

















