<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.LogsDao">
    <select id="queryAllLogs" resultType="Logs">
        select * from cmfz_logs
    </select>
    <insert id="insertLogs" parameterType="Logs">
        insert into cmfz_logs values(#{id},#{name},#{method},#{data},#{status})
    </insert>
</mapper>

















